MO/
RevealHTML/
test_slides.ipynb
.DS_Store
.ipynb_checkpoints
unit1/1-1 Intro to Mathematical Optimization.ipynb
unit1/1-2 Intro to Vectors.ipynb
unit1/1-3 Iteration and Recursion.ipynb
unit1/1-4 Iteration and Recursion 2.ipynb