.DS_Store
.ipynb_checkpoints
MO
RevealHTML
test_slides.ipynb
Unit1-Intro/1-01\ Intro\ to\ Mathematical\ Optimization.ipynb
Unit1-Intro/1-02\ Intro\ to\ Vectors.ipynb
Unit1-Intro/1-03\ Iteration\ and\ Recursion.ipynb
Unit1-Intro/1-04\ Iteration\ and\ Recursion\ 2.ipynb