MO/
RevealHTML/
test_slides.ipynb
.DS_Store
.ipynb_checkpoints
unit1/1-01 Intro to Mathematical Optimization.ipynb
unit1/1-02 Intro to Vectors.ipynb
unit1/1-03 Iteration and Recursion.ipynb
unit1/1-04 Iteration and Recursion 2.ipynb